## SQL A13
### Q-1. Write an SQL query to show only odd rows from a table.
#### Answer :
SELECT * FROM Worker Where MOD(worker_id,2) = 1

### Q-14. Write an SQL query to clone a new table from another table.
#### Answer :
#### Creating an Empty Table
CREATE TABLE new_table LIKE original_table;
#### Inserting Data into Table
INSERT INTO new_table SELECT * FROM original_table;