## SQL A2
### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.
#### Answer :
SELECT SUBSTRING(FIRST_NAME,1,3) FROM Worker;

### Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.
#### Answer :
\# Solution 1 <br>
SELECT LOCATE('a', FIRST_NAME) FROM Worker WHERE FIRST_NAME = 'Amitabh';  <br>
\# Solution 2  <br>
SELECT POSITION('a' IN FIRST_NAME) FROM Worker WHERE FIRST_NAME = 'Amitabh';

### Q-3. Write an SQL query to print the name of employees having the highest salary in each department.
#### Answer :
\# Solution 1 <br>
SELECT first_name, last_name, salary, department FROM Worker w WHERE salary = (SELECT MAX(salary) FROM Worker WHERE department = w.department) <br>
\# Solution 2 <br>
select Department.Name as Department, e1.Name as Employee, e1.Salary as Salary <br>
from Department join Employee e1 ON Department.Id = e1.DepartmentId <br>
where e1.Salary = (select Max(Salary) from Employee e2 where e2.DepartmentId = e1.DepartmentId)