## SQL A10
### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
#### Answer :
\# Solution 1: <br>
SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as HEllO WHERE R_NUM=5; <br>
 <br>
\# Solution 2: <br>
SELECT salary from Employee e1 where 4 = (SELECT COUNT(DISTINCT salary)from Employee e2 where e2.salary > e1.salary)

### Q-20. Write an SQL query to fetch the list of employees with the same salary.
#### Answer :
\# Solution 1 <br>
Select DISTINCT w.Id, w.Salary  <br>
from Worker w, Worker w1  <br>
where w.Salary = w1.Salary  <br>
and w.Id != w1.Id; <br>
 <br>
\# Solution 2 <br>
SELECT * FROM employee ORDER BY salary ASC; <br>
\# (the above code will list all employees with their salaries in ascending order)