## SQL A8
### Q-15. Write an SQL query to fetch intersecting records of two tables.
#### Answer :
SELECT \<Column_names\> FROM table_1 INTERSECT SELECT \<Column_names\> FROM table_2;

### Q-16. Write an SQL query to show records from one table that another table does not have.
#### Answer :
\# Solution 1 <br>
SELECT * FROM table_1 EXCEPT SELECT * FROM table_2; <br>
<br>
Solution 2 <br>
select * from table_1 where Id NOT IN (select Id from table_2); <br>
<br>
** Difference between EXCEPT and NOT IN ** <br>
The EXCEPT operator removes duplicate rows from the results and returns only DISTINCT records. On the other hand, the NOT IN operator will return duplicate records.<br>
EXCEPT operator compares values in one or more than one columns. This means that the number of columns must be the same. On the other hand, the NOT IN operator compares values in a single column.<br>
You cannot have an unequal number of columns for the queries on the left and right of an EXCEPT operator.<br>
For the NOT IN operator, you cannot have more than one column in the sub-query as it will return an error.